
<div class="post-container">
<h1 class="post-title"><%= @post.title %></h1>
<p class="post-author">Posted by <%= @post.user.name %></p>
<div>
    <p><%= @post.content %></p>
    <%= render contact_user_partial_path %>
</div>
</div>